<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lucky Token</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
	<div class="head">
		<div class="left"><a href="https://smironh.gq">Smironh</a></div>
		<div class="right"><h2>Lucky token</h2></div>
		<div class="right"><h2><a href="#" onclick="alert('soon')" style="text-decoration: underline;">Lucky Gift</a></h2></div>
	</div>

	<div class="content">
		<div class="right">{{token}}</div>
		<div class="left">{{token1}}</div>
	</div>
</body>
</html>